:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Dark mode colors */
  --text-color-dark: white;
  --background-color-dark: #242424;
  --border-color-dark: white;
  --button-color-dark: white;
  --button-text-color-dark: #242424;

  /* Light mode colors */
  --text-color: #242424;
  --background-color: white;
  --border-color: #242424;
  --button-color: #242424;
  --button-text-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--background-color);
}

.dark-mode {
  color: var(--text-color-dark);
  background-color: var(--background-color-dark);
}

.app.dark-mode .lightmode-text,
.app.dark-mode .lightmode-icon,
.app.dark-mode a,
.app.dark-mode h1,
.app.dark-mode h2,
.app.dark-mode .nav-link,
.app.dark-mode .sort-order-dropdown,
app.dark-mode .back-to-top {
  color: var(--text-color-dark);
  background-color: (var(--background-color-dark));
}

.app.dark-mode button {
  color: var(--button-text-color-dark);
  background-color: var(--button-color-dark);
}

.app.dark-mode .article-home,
.app.dark-mode .topic-list-card,
.app.dark-mode .user-card,
.app.dark-mode .comments-section {
  border: 1px solid var(--border-color-dark);
}

.light-mode-toggle {
  display: flex;
  padding: 20px;
}

.lightmode-icon {
  font-size: 20px;
  padding-right: 10px;
  cursor: pointer;
  color: var(--text-color);
}

.lightmode-text {
  font-size: 12px;
  cursor: pointer;
  color: var(--text-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--text-color);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--button-text-color);
  background-color: var(--button-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  scale: 1.03;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

a {
  font-weight: 500;
  color: var(--text-color);
  text-decoration: inherit;
}

a:focus {
  text-decoration: underline;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.nav-link {
  padding: 0 20px;
  color: var(--text-color);
}

.nav-link:hover {
  text-decoration: underline;
}

span.nav-link:hover {
  text-decoration: none;
}

.article-list {
  margin: 20px auto;
  width: 80%;
}

ul {
  padding: 0;
  list-style: none;
}

.article-home {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
}

.article-image-list {
  width: 300px;
  margin: 10px 50px;
  border: solid 1px white;
  border-radius: 10px;
}

.article-img {
  width: 400px;
  margin: 20px auto;
  border-radius: 10px;
  border: 1px solid white;
}

.article-headings,
.comments-flex {
  display: flex;
  justify-content: space-around;
}

div.article-headings {
  margin: 20px 0px;
}

.article-img-body {
  display: flex;
}

.article-body {
  display: flex;
  padding: 0 40px;
}

.main-article-link {
  margin-top: 10px;
}

.main-article-link:hover {
  text-decoration: underline;
}

.article-title-link:hover {
  text-decoration: underline;
}

p.view-article {
  margin: 10px;
}

.view-article:hover {
  text-decoration: underline;
}

.comments-section {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

.article-container {
  padding: 15px;
  width: 90%;
  margin: 0 auto;
}

.comment-detail,
.article-detail,
.article-list-detail {
  margin: 3px;
}

.nav,
h2 {
  margin: 5px 0px;
  padding: 5px;
}

h2.artle-title-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.header-text {
  margin: 0;
  padding-bottom: 30px;
  cursor: pointer;
}

.article-list {
  margin-top: 0px;
}

.comments-container {
  padding: 10px;
}

#new-comment {
  width: 90%;
  height: 80px;
  margin: 20px auto;
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
}

.comment-form {
  display: flex;
  flex-direction: column;
}

.post-comment-btn {
  width: 200px;
  margin: 0 auto;
}

.add-comment-label {
  margin-top: 10px;
}

.vote-button {
  margin: 0px 20px 20px;
}

.avatar-img {
  width: 150px;
  margin: 10px auto;
  border-radius: 10px;
}

.user-card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  margin: 20px auto;
}

.select-user-btn {
  width: 250px;
  margin: 10px auto;
}

.form-username {
  display: flex;
  margin: 0 auto;
}

.username-details {
  margin: 0 5px 10px;
}

.user-warning {
  display: flex;
}

.comment-warning {
  background-color: rgb(234, 195, 195);
  color: red;
  padding: 10px;
  font-weight: 600;
  width: 90%;
  margin: 0 auto 20px;
  border-radius: 10px;
}

.successful-comment {
  background-color: rgb(195, 234, 211);
  color: rgb(10, 103, 0);
  padding: 10px;
  font-weight: 600;
  width: 90%;
  margin: 0 auto 20px;
  border-radius: 10px;
}

.comment-user-link {
  padding-left: 10px;
  color: #242424;
}

.comment-user-link:hover {
  color: #4b4a4a;
}

.topic-list-card {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  margin: 20px auto;
}

.article-position {
  display: flex;
}

.article-details-position {
  display: flex;
  flex-direction: column;
  margin: auto auto;
}

.sort-order {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.sort-order-label {
  margin-left: 20px;
}

.sort-order-dropdown {
  margin-left: 5px;
  width: 150px;
  border-radius: 5px;
  padding-left: 5px;
}

.delete-btn-container {
  overflow: auto;
}

.delete-btn {
  float: right;
}

.main-article-list {
  margin: 0 0 50px;
}

.main-article-list:hover {
  text-decoration: underline;
}

.topic-link:hover {
  text-decoration: underline;
}

.back-to-top {
  padding-top: 30px;
  padding-bottom: 100px;
}

@media (max-width: 850px) {
  .article-details-home,
  .article-headings,
  .article-img-body,
  .comments-flex {
    display: flex;
    flex-direction: column;
  }

  .article-position {
    display: flex;
    flex-direction: column;
  }

  .article-body {
    display: flex;
    margin: 0;
    padding: 10px 0px 30px;
  }

  .article-image-list {
    width: 250px;
    margin: 15px 0;
  }

  p.view-article {
    margin: 5px;
  }

  .article-title-link,
  .article-home {
    margin-top: 5px;
  }

  .comment-warning,
  .comment-user-link {
    display: flex;
    flex-direction: column;
  }

  .nav {
    display: flex;
    flex-direction: column;
  }

  .nav-link {
    padding: 5px;
  }

  .sort-order {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
  }

  .sort-order-label {
    margin: 0;
  }

  .sort-order-dropdown {
    margin: 5px auto;
  }

  .header-text {
    margin: 0px;
    padding: 0px;
  }

  .article-img {
    margin: 0 auto;
  }
}

@media (max-width: 650px) {
  .article-img {
    width: 300px;
  }

  .article-container {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .article-image-list {
    width: 80%;
  }

  .article-img {
    width: 80%;
  }

  .article-title-link {
    font-size: 20px;
  }

  .article-container {
    width: 100%;
  }
}
